@font-face {
  font-family: headingFont;
  src:url(News_Cycle/NewsCycle-Regular.ttf);
}
h1 {
  font-family: headingFont;
  color: #000;
  padding-left: 1em;
  font-size: 35pt;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-family: headingFont;
  font-style: italic;
  color: #333;
  padding-bottom: .75em;
  padding-left: 4em;
  margin-top: 0;
}
.headingArea {

}
.navigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navigationBar li {
  float: left;
}
.navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigationBar li a:hover {
  background-color: #111;
}
.activePage {
  background-color: #15702f;
}
body {
  background-image: url(roofline.jpg);
  background-size: cover;
}
